#root {
    background-color: white;
    position: relative;
}

.parent-container {
    margin: auto;
}

.container {
    background-size: cover;
    height: 100%;
}

#grid {
    position: relative;
}

#table {
    position: absolute;
    margin: 0 auto;
}

.act-btn {
    height: 60px;
    width: 65px;
}

.button_view {
    color: white;
}

.button_edit {
    color: black;
}